<div class="container">
  <div class="main-logo">
    <img src="../img/logo.png" alt="" class="img-responsive"/>
  </div>
  <div class="o-main-content">
    <div class="row o-header">
      <div class="col-md-8 o-header-left">Od fanów</div>
      <div class="col-md-4 o-header-right">Aktualności</div>
    </div>
    <div class="row o-content">
      <div class="col-md-8 o-content-left">
        <!--<div id="summernote">Hello Summernote</div>-->
        <summernote ng-model="post"></summernote>

        {{ post }}

        <div ng-bind-html="post"></div>

        <button type="button" ng-click="test()">Send</button>
      </div>
      <div class="col-md-4 o-content-right"></div>
    </div>
  </div>
</div>
<!-- /.container -->
